<div class="service service-summary">
  {{ if .Params.icon }}
  <div class="service-image">
    <img height="80" width="80" src="{{ .Params.icon | relURL }}" alt="{{ .Title }}" />
  </div>
  {{ end }}
  <div class="service-content">
    <h2 class="service-title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    {{ $text := .Content | plainify }}

    {{ if .Params.summary }}
      {{ .Params.summary }}
    {{ else }}
      {{ $dotPreview := findRE `(?s)^.{0,120}?\.` $text }}
      {{ if gt (len $dotPreview) 0 }}
        {{ index $dotPreview 0 }}
      {{ else }}
        {{ $text | truncate 120 "..." }}
      {{ end }}
    {{ end }}
  </div>
</div>