{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-credits{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      {{ .Content }}
      {{ if .Site.Data.credits }}
      <h4 class="mt-4">Site Credits:</h4>
      <table class="table table-sm credits-table">
        {{ range .Site.Data.credits }}
        <tr>
          <a href="{{ .Site.Data.credits.url }}">
                {{ .Site.Data.credits.text }}</a>
        </tr>
        {{ end }}
        <tr>
          Photo by <a href="https://unsplash.com/@lgnwvr?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">LOGAN WEAVER | @LGNWVR</a> on <a href="https://unsplash.com/photos/two-white-printer-papers-QfQJMlP1v6g?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </tr>
        <tr>
          Photo by <a href="https://unsplash.com/@flowforfrank?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ferenc Almasi</a> on <a href="https://unsplash.com/photos/a-close-up-of-a-computer-screen-with-code-numbers-EWLHA4T-mso?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </tr>
        <tr>
          Photo by <a href="https://unsplash.com/@szmigieldesign?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Lukasz Szmigiel</a> on <a href="https://unsplash.com/photos/forest-trees-jFCViYFYcus?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </tr>
      </table>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}